<div class="container py-3">
    <div class="row">
        <div class="col-10 mx-auto">
            <div class="accordion" id="faqExample">
                <div class="card">
                    <div class="card-header p-2" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Q: Admin Sections
                            </button>
                          </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqExample">
                        <div class="card-body">
                            <b>Answer:</b> The following four section is only important for managing admin pages. 1) DATABASE 2) METADATABASE 3) NAMINGALGORITHM and 4) EXTRA
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="headingTwo">
                        <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Q: How to add a new data in any database/section?
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqExample">
                        <div class="card-body">
                            <b>Answer:</b> If you click a specific database or a section, there is a "Add database name" along with the plus sign is on the top right. Other buttons include Import and Export nearby.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="headingTwo">
                        <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
                          Q: Where are the import and export buttons?
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTwo1" class="collapse" aria-labelledby="headingTwo" data-parent="#faqExample">
                        <div class="card-body">
                            <b>Answer:</b> If you click a specific database or a section, import and export buttons are on the top right.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Q: How to search a particular data in the database/section?
                            </button>
                          </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqExample">
                        <div class="card-body">
                            <b>Answer:</b> A search box is on the top left side of the database/section. Use protein name or accession number to search for the desired entity.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                              Q: How to delete a particular data in any database/section?
                            </button>
                          </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#faqExample">
                        <div class="card-body">
                            <b>Answer:</b> Use the search box and search for the protein name or accession number. Hyperlinks are on the protein name or accession. Click and choose a single data/entity. It redirects to a single data/entity. There is a 'Delete' button on the top left side.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                              Q: One example metadatabase screenshots
                            </button>
                          </h5>
                    </div>
                    <div id="collapse5" class="collapse" aria-labelledby="headingThree" data-parent="#faqExample">
                        <div class="card-body">
                            <b>Answer:</b> <a href="/help_screenshot/" target="_blank"> Click this link to see the screenshots </a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                              Q: How to add FAQ new heading?
                            </button>
                          </h5>
                    </div>
                    <div id="collapse6" class="collapse" aria-labelledby="headingThree" data-parent="#faqExample">
                        <div class="card-body">
                            <b>Answer:</b> You have to do two steps here.
                            1) Add FAQs section 2) Go to Add FAQ headings. On top right hand side click 'Add FAQ Heading'. Choose from the category and save. Please see the screenshots. <a href="/help_screenshot/" target="_blank"> Click this link to see the screenshots </a>

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                              Q: How to copy sequences to Public/Private database?
                            </button>
                          </h5>
                    </div>
                    <div id="collapse7" class="collapse" aria-labelledby="headingThree" data-parent="#faqExample">
                        <div class="card-body">
                            <b>Answer:</b> You have two options here.
                            Please see the screenshots. <a href="/help_screenshot/" target="_blank"> Click this link to see the screenshots </a>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--/row-->
</div>
<!--container-->
