{% extends "newwebpage/base.html" %}
{% load static %}

{% block content %}

<!-- ======= F.A.Q Section ======= -->
<div class="col-lg-12 pt-5 mt-5 pt-b mb-5">
  <section>
    <h1> Screenshots</h1>
  </section>


  <div>
    <h3>Metadatabase page</h3>
    <h4>General options</h4>
  	<img src="/media/screenshots/metadatabase1.png" alt="UF" width="650" height="350">
    <pre>


    </pre>
  </div>
  <div>
    <h4>Editing a single entry</h4>
    <img src="/media/screenshots/metadatabase2.png" alt="UF" width="650" height="350">
  </div>

  <pre>


  </pre>


    <div>
      <h3>FAQ adding a new heading category page</h3>
      <h4>Step 1</h4>
    	<img src="/media/screenshots/heading1.png" alt="UF" width="650" height="350">
      <pre>


      </pre>
    </div>
    <div>
      <h4>Step 2</h4>
      <img src="/media/screenshots/heading2.png" alt="UF" width="650" height="350">
    </div>

    <pre>


    </pre>

    <div>
      <h3>How to copy user submissions to Public/Private database</h3>
      <h4>Step 1</h4>
      <img src="/media/screenshots/public.png" alt="UF" width="650" height="350">
      <pre>


      </pre>
    </div>
    <div>
      <h4>Step 2</h4>
      <img src="/media/screenshots/private.png" alt="UF" width="650" height="350">
    </div>

</div>


{% endblock %}
